@media screen and (min-width: 700px) {
    .roundup-image {
      max-height: 30vw;
      width: auto;
    }
  }
  
  @media screen and (max-width: 699px) {
    .roundup-image {
      max-height: 20vw;
      width: auto;
    }
  }
  
  .roundup-container-text {
    padding-top: 1em;
    padding-bottom: 1em;
  }

  .roundup-container-text p {
    font-size: 1.25em;
    text-align: left;
    text-justify: auto;
    line-height: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: darkgoldenrod;
    border-radius: 1em;
    padding: 4mm;

  }
  
  .roundup-card {
    width: 50%;
  }
  
  .roundup-description {
    width: 90%;
    margin: auto;
    font-size: 1.2em;
    line-height: 1em;
    padding: 5%;
  }
  
  .roundup-subhead {
    margin-bottom: 1em;
  }
  
  .slick-track div {
    min-width: 0 !important;
    max-width: 100% !important;
  }
  
  a {
    color: #FFF;
  }
  a:hover {
     color: #00F
  }